{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>JHCSC Main Campus Students</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{% static 'img/logo.png' %}" type="image/x-icon">

    {% tailwind_css %}
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.css" rel="stylesheet" />
</head>

<body class="bg-slate-200 font-arial leading-normal tracking-normal overflow-x-hidden">



    {% include 'includes/sidebar.html' %}

    <!-- Main modal -->
    <div id="respondentModal" tabindex="-1" aria-hidden="true"
        class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative w-full max-w-2xl max-h-full">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow">
                <!-- Modal header -->
                <div class="flex items-start justify-between p-4 border-b rounded-t border-gray-600">
                    <h3 class="text-xl font-semibold text-gray-900">
                        Add Respondent
                    </h3>
                    <button type="button"
                        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center"
                        data-modal-hide="respondentModal">
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                <!-- Modal body -->
                <div class="p-6 space-y-6">
                    <p class="font-mono font-semibold">Please fill all the labels below:</p>
                    <form action="{% url 'bsit' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-6">
                            <label for="course"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Course</label>
                            <select id="course" name="course"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                <option value="BSIT" selected>BSIT</option>
                                <option value="BSED">BSED</option>
                                <option value="BSCE">BSCE</option>
                                <option value="BEED">BEED</option>
                                <option value="BS Math">BS Math</option>
                                <option value="Social Work">Social Work</option>
                                <option value="AB Polsci">AB Polsci</option>
                                <option value="BaPOLS">BaPOLS</option>

                            </select>
                        </div>

                        <div class="mb-6">
                            <label for="year" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Year
                                Level</label>
                            <select id="year" name="year"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                <option value="1st Year" selected>1st Year</option>
                                <option value="2nd Year">2nd Year</option>
                                <option value="3rd Year">3rd Year</option>
                                <option value="4th Year">4th Year</option>

                            </select>
                        </div>

                        <div class="mb-6">
                            <label for="sex"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Sex</label>
                            <select id="sex" name="sex"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                <option value="Male" selected>Male</option>
                                <option value="Female">Female</option>
                            </select>
                        </div>



                        <div class="mb-6">
                            <label for="department"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Department</label>
                            <select id="department" name="department"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                <option value="SET" selected>SET</option>
                                <option value="SAS">SAS</option>
                                <option value="SAFES">SAFES</option>
                                <option value="STE">STE</option>

                            </select>
                        </div>


                </div>
                <!-- Modal footer -->
                <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b">
                    <button type="submit" value="submit"
                        class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Add</button>
                    <button data-modal-hide="respondentModal" type="button"
                        class="text-white bg-red-600 hover:bg-red-400 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-white focus:z-10">Close</button>
                </div>
                </form>
            </div>
        </div>
    </div>


    <div class="ml-[280px]">
        <div class="mt-[90px] w-[95%] bg-white rounded-lg shadow dark:bg-gray-800 p-4 md:p-6">
            <div class="flex justify-between border-gray-200 border-b dark:border-gray-700 pb-3">
                <dl>

                    <dd class="leading-none text-3xl font-bold text-gray-900 dark:text-white">BSCE respondents</dd>
                </dl>

            </div>

            <div id="bar-chart"></div>

        </div>

        <script>
            // ApexCharts options and config
            window.addEventListener("load", function () {

                var bsce1 = "{{bsce1}}";
                var bsce1 = Number(bsce1);

                var bsce2 = "{{bsce2}}";
                var bsce2 = Number(bsce2);

                var bsce3 = "{{bsce3}}";
                var bsce3 = Number(bsce3);

                var bsce4 = "{{bsce4}}";
                var bsce4 = Number(bsce4);

                var options = {
                    series: [
                        {
                            name: "Respondents",
                            color: "#31C48D",
                            data: [bsce1, bsce2, bsce3, bsce4],
                        },

                    ],
                    chart: {
                        sparkline: {
                            enabled: false,
                        },
                        type: "bar",
                        width: "100%",
                        height: 400,
                        toolbar: {
                            show: false,
                        }
                    },
                    fill: {
                        opacity: 1,
                    },
                    plotOptions: {
                        bar: {
                            horizontal: true,
                            columnWidth: "100%",
                            borderRadiusApplication: "end",
                            borderRadius: 6,
                            dataLabels: {
                                position: "top",
                            },
                        },
                    },
                    legend: {
                        show: true,
                        position: "bottom",
                    },
                    dataLabels: {
                        enabled: false,
                    },
                    tooltip: {
                        shared: true,
                        intersect: false,
                        formatter: function (value) {
                            return + value
                        }
                    },
                    xaxis: {
                        labels: {
                            show: true,
                            style: {
                                fontFamily: "Inter, sans-serif",
                                cssClass: 'text-xs font-normal fill-gray-500 dark:fill-gray-400'
                            },
                            formatter: function (value) {
                                return + value
                            }
                        },
                        categories: ["1st Year", "2nd Year", "3rd Year", "4th Year"],
                        axisTicks: {
                            show: false,
                        },
                        axisBorder: {
                            show: false,
                        },
                    },
                    yaxis: {
                        labels: {
                            show: true,
                            style: {
                                fontFamily: "Inter, sans-serif",
                                cssClass: 'text-xs font-normal fill-gray-500 dark:fill-gray-400'
                            }
                        }
                    },
                    grid: {
                        show: true,
                        strokeDashArray: 4,
                        padding: {
                            left: 2,
                            right: 2,
                            top: -20
                        },
                    },
                    fill: {
                        opacity: 1,
                    }
                }

                if (document.getElementById("bar-chart") && typeof ApexCharts !== 'undefined') {
                    const chart = new ApexCharts(document.getElementById("bar-chart"), options);
                    chart.render();
                }
            });
        </script>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
    <script>
        // Initialization for ES Users
        import {
            Chart,
            initTE,
        } from "tw-elements";

        initTE({ Chart });
    </script>
</body>

</html>